
/*----------------HEADER--------------------*/
/*----------------MAIN------------------*/

/*padding-left: 235px;
padding-right: 235px;*/





    



/*---------------------ABOUT----------------------*/



 
/*---------------------WORK--------------------*/



/*------------------------TEAM-------------------*/


/*--------------------------CLIENTS-------------------------*/


/*------------------------------FOOTER---------------------------*/


/*--------------------------------------------------------------------------------*/







/*------------------------------PICTURES--------------------------------*/


/*-----------------------------MODAL--------------------------------*/






  
  

/*
.check-text::before{
    content: "";
    width: 16px;
    height: 15px;
border-radius: 2px;
border: 2px solid #212121;
margin-right: 9px;
}

.input-check:checked + .check-text::before{
    background-color: #2196F3;
    background-image: url(../images/icon-vector-4.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}*/





