.about{
    padding-bottom: 94px;
    padding-top: 94px;
    @include mobile{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include tablet{
        padding-top: 60px;
        padding-bottom: 60px;
    }
 }

 .about-list{
     display: flex;
 }



.about-title
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-text
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    
}


.about-soc-list{
    @extend %justify-list ;
    flex-wrap: wrap;
    gap: 30px;
}

.about-soc-item{
    max-width: 100%;
    max-height: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
      }
      @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);}
}

.block-svg{
    width: 100%;
     height: 120px;
     background: #F5F4FA;
 
    margin-bottom: 30px;
    @extend %aligin-list;
    justify-content: center;
  
    }
    

