.main__btn
{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    text-align: center;
    }

    .footer-btn{
        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        @extend %justify-list ;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        margin-left: 12px;
        
        }

        .btn
        { 
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            letter-spacing: 0.03em;
            color: #212121;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 22px;
            padding-right: 22px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) , background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
            &:hover, &:focus
            {color: #FFFFFF; background-color: #2196F3;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;}
        }
        
        .button-list{ 
            @include mobile{
                padding-top: 60px;   
            padding-bottom: 60px;
            }
             @media screen and (min-width: 768px) {
                padding-top: 60px;   
                padding-bottom: 60px;
          }
          @media screen and (min-width: 1200px) {
            padding-top: 94px;   
            padding-bottom: 94px;
          }}
        
        .btn-item {
            display: flex;
          
           margin-bottom: 40px;
           flex-wrap: wrap;
           gap: 8px;
           @media screen and (min-width: 768px){justify-content: center;
        margin-bottom: 30px;}
           @media screen and (min-width: 1200px){justify-content: center;
        margin-bottom: 50px;}
           
 }
        


.modal-close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    @extend %justify-list ;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal-btn{
    width: 200px;
    height: 50px;
    background: #188CE8;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    @extend %justify-list ;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-left: 125px;
    }
    