.clients{
    padding-top: 94px;
    padding-bottom: 94px;
    @include mobile {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  @include tablet{
      padding-top: 60px;
      padding-bottom: 60px;
  }
    } 
    
    .clients-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    }
    
    .clients-list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .clients-list-item{
        width: calc((100% - 30px) / 2);
      
        @media screen and (min-width: 768px) {
            width: calc((100% - 60px) / 3);
          }
          @media screen and (min-width: 1200px) {
            width: calc((100% - 150px) / 6);}
        }
    
    
    
    
    .clients-link{
    width: 100%;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    @extend %justify-list ;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) , border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:#AFB1B8;
    &:hover, &:focus{
        fill: #2196F3;border-color: #2196F3;
    }
        
}
    
    