.header{
    background-color: #ffffff;
    border: 1px solid #ECECEC;
    
    display: flex;
    @include mobile{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @include tablet {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.nav{
   @extend %aligin-list;
}

.header-container{
    
    display: flex;
    
}


.nav__logo{
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
}

.header-span{
    color: #212121;
}

.nav__logo__span{
    color: #212121;
}



.menu{
    @extend %aligin-list;
    @media screen and (max-width: 768px) {
        display: none;}
}
.menu__item-list {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121; 
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-bottom: 28px;
&:focus{color: #2196F3;}
&:hover {color: #2196F3;}
&:after 
{display: block; 
width: 100%;
position: absolute; 
content: "";
background-color: #2196F3;
height: 0px;
border-radius: 2px;
opacity: 0;
transition: opacity .2s ease;
top: 100%;}

&:hover::after
{width: 100%;
height: 4px;
opacity: 1;}

&:focus:after
{width: 100%;
height: 4px;
opacity: 1;}
}




.active{
    color: #2196F3;
}

.menu__item-list.active:after{
    opacity: 1;
    height: 4px;
    
}

.menu__item:not(:last-child){
    margin-right: 50px;
}

.connect__contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 30px;
    @extend %aligin-list;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{color: #2196F3;}
    @include tablet {
        margin-left: 84px;
        &:not(:first-child){
            margin-top: 10px;
        }
    }
    @include desktop{
        margin-left: 30px;
        &:not(:first-child){margin-top: 0px;
        }
    }
}
.connect{
    @media screen and (max-width: 768px) {
    display: none;}
margin-left: auto;display: flex;
flex-wrap: wrap;
}

.connect__contacts-span{margin-left: 10px;}
.connect__contacts-icon{fill:currentColor;}