.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF; 
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    @include mobile{
        width: 450px;
    }
    @include desktop {
        width: 528px;
    }
    }

    
    
.modal-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
    
    }
    
.modal-label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575; 
    }
    
.modal-field{margin-bottom: 10px;}

.modal-field-check{
    margin-bottom: 30px;
    margin-top: 20px;
    min-width: 370px;
    
}

.modal-input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    &:focus{
    outline: 1px solid #2196F3;
    border-color: #2196F3;}

    &:hover{
    outline: 1px solid #2196F3;
    border-color: #2196F3;}
        
}
        
       
.modal-input:focus + .input-icon{fill: #2196F3;}
        
.modal-input:hover + .input-icon{fill: #2196F3;}

.modal-input-comment{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    width: 100%;
    margin-top: 4px;
    &::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);}
}
            
    
            
.modal-text-area{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    &:focus{
        border-color: #2196F3;
        outline: 1px solid #2196F3;}
    &:hover{
        border-color: #2196F3;
        outline: 1px solid #2196F3;}
 }
.modal-close-icon:focus{fill: #2196F3;}
.modal-close-icon:hover{fill: #2196F3;}
            