.team {
    
    background: #F5F4FA;
  @include mobile {
    padding-top: 60px;
    padding-bottom: 60px;
  }
@include tablet{
    padding-top: 60px;
    padding-bottom: 60px;
}
@include desktop{
    padding-top: 94px;
    padding-bottom: 94px;
}
}

.team-title
{
    font-style: normal;
    font-weight: 700;
    
    color: #212121;
    text-align: center;
    

    @include mobile{
        font-size: 28px;
line-height: 1.17;
letter-spacing: 0.03em;
margin-bottom: 30px;
    }

    @include desktop{
        font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
}

.team-list{display: flex; gap: 30px;
flex-wrap: wrap;}

.team-item{
width: 100%;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

@media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);}
}



.team-content{
 padding-top: 30px;
 padding-bottom: 30px;
}

.team-after-title
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    padding-bottom: 10px;
}
.team-text
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}

.team-soc-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.team-soc-item{
    width: 44px;
    height: 44px;   
    &:not(:first-child)
    { margin-left: 10px;}
}



.team-soc-link{
   @extend %justify-list;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) , background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
    background-color: #2196F3;
    color: #FFFFFF;}
}

.team-soc-icon{
    fill: currentColor;
}

